#adminHome-box,#adminBan-box {
    margin-top: 30px;
}
#modal-view-link {
    color: black;
    cursor: pointer;
}
#modal-view-link:hover{
    color: rgb(173, 173, 173);
    text-decoration-line: underline;
}
.image-modal .modal-body{
    width: fit-content;
}
.image-modal .modal-body img{
    max-width: 100%;
}