#chatsystem-box {
    margin-top: 30px;
    height: 80vh;
}
#chatroom {
    text-decoration: none;
    color: black;
}
#chatroom:hover {
    background-color: #d8d8d8;
}
#chatroom:checked {
    background-color: #d8d8d8;
}
#sendmsg {
    width: 95%;
    bottom: 1vh;
    position: absolute;
}
#msgarea {
    width: 100%;
    position: absolute;
    height: 59vh;
    bottom: 11vh;
    overflow: scroll;
    overflow-x: hidden;
}
.selected-room {
    background-color: #FFC655;
    color: #254380;
}
.loading-chat {
    float: center;
    margin-top: 30vh;
}