.freelancerBox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  background-color: white;
}
.freelancerBox header {
  background-color: #254380;
  padding: 10px;
  color: white;
}
.profile-img {
  border-radius: 50%;
  background-color: #254380;
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  bottom: 0px;
  overflow: hidden;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.profile-img :hover{
  opacity: 0.5;
}
.profile-img img {
  align-self: auto;
  width: 50px;
  height: 50px;
}

.box-body td {
  text-align: center;
  vertical-align: middle;
}
.box-body thead {
  text-align: center;
}

.table-container-f {
  height: 90%;
  overflow: auto;
}
.footer {
  width: 100%;
  height: 10%;
  background-color: white;
  padding-top: 15px;
}
.footer .btn {
  width: 100%;
  margin: auto;
}
.job-header {
  margin-top: 20px;
  padding-left: 2%;
}

.dashboard-box {
  width: 100%;
  margin: 10px;
  /* background-color: lightgray; */
}

.dashboard-box.small-box {
  height: 200px;
}

.dashboard-box.large-box {
  height: 600px;
}

.dashboard-box .box-topic {
  background-color: #254380;
  color: white;
  font-size: 16px;
}
.loading{
  position: absolute;
  left: 50%;
  top: 50%;
}