.freelancerBox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    background-color: white;
}
.freelancerBox header {
    background-color: #254380;
    padding: 10px;
    color: white;
}
