.dashboard-box {
    width: 100%;
    margin: 10px;
    /* background-color: lightgray; */
    
}

.dashboard-box.small-box {
    height: 200px;
}

.dashboard-box.large-box {
    height: 600px;
}

.dashboard-box .box-topic {
    background-color: #254380;
    color: white;
}
.dashboard-box .box-body{
    
}
