#file-upload-button{
    width: 80px;
    display: flex;
    justify-content: center;
    background-color: rgba(37, 67, 128, 0.9);
    color : cornsilk;
    border-radius : 0 10px 10px 0;
    align-items: center;
}
#file-upload-bar{
    display: flex;
    align-content: space-between;
}
#file-upload-bar span{
    display: flex;
    align-content: space-between;
    padding-left: 10px ;
    padding-right: 10px;
    border: rgba(37, 67, 128, 0.9) 1px dashed;
    border-right-width: 0;
}
#file-upload-button:hover{
    cursor: pointer;
    background-color: rgba(29, 52, 99, 1);
}