html, body, .main-background {
    background-color: #F5F5F5;
  }
  #homefreelancer-box {
    margin-top: 30px;
  }
  #filter-topic, #balance-topic, #recommend-topic {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .balance-box {
    margin-left: 10px;
  }
  .background-blue {
    background-color: #254380;
  }
  .job-icon {
    margin-right: 5px;
  }
  .filter-box {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  #announce-area {
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .swal-text {
    text-align: center;
  }