@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body, .main-background ,#root{
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}
#homeclient-box {
  margin-top: 30px;
  height: 100%;
}
#recentjob-topic, #balance-topic{
  margin-top: 20px;
  margin-bottom: 20px;
}
.balance-box {
  margin-left: 10px;
}
.background-blue {
  background-color: #254380;
}