#image-upload-button{
    width: 80px;
    display: flex;
    justify-content: center;
    background-color: rgba(37, 67, 128, 0.9);
    color : cornsilk;
    border-radius : 0 10px 10px 0;
    align-items: center;
    height : 100%;
}
#image-upload-bar{
    display: flex;
    align-content: space-between;
}
#image-upload-bar label{
    margin: 0;
}
#image-upload-bar span{
    display: flex;
    align-content: space-between;
    padding-left: 10px ;
    padding-right: 10px;
    border: rgba(37, 67, 128, 0.9) 1px dashed;
    border-right-width: 0;

}
#image-upload-button:hover{
    cursor: pointer;
    background-color: rgba(29, 52, 99, 1);
}
.image-container.col{
    padding-bottom: 8px;
}
#image-error{
    margin-top: 1vh;
    color: red;
}