.job-page {
  margin: auto;
  margin-top: 10px;
  width: 80%;
}

.job-detail {
  background-color: white;
  width: 750px;
}

.non-header {
  padding: 20px;
}

.inside-box {
  padding: 10px;
}
.job-bid {
  background-color: white;
  width: 250px;
}

.job-suggest {
  background-color: white;
  width: 250px;
}

form {
  padding: 20px;
}

header {
  background-color: #254380;
  padding: 10px;
  color: white;
}

.row {
  padding: 10px;
}
