.job-search-page {
  margin-top: 20px;
  margin-bottom: 20px;
}
.job-search-page .job-filter {
  background-color: white;
}
.job-search-page .job-result {
  background-color: white;
}

.job-search-page #low-margin {
  margin: 10px;
  max-width: 100%;
}

.job-search-page .container {
  width: 80%;
}

.job-search-page .job-result-row {
  border-bottom: 1px solid gray;
}

.job-search-page #no-padding {
  padding: 0px;
}

.job-search-page #no-margin {
  margin: 0px;
}

.job-search-page #job-des {
  height: 48px;
  overflow: hidden;
  color: grey;
}

.job-search-page #job-name-and-des {
  margin-bottom: 15px;
}

.job-search-page a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

.job-search-page .card-header{
  background-color: #254380;
  padding: 10px;
  color: white;
}
