#logo-img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}
#navbar {
    background-color: #254380;
}
#navbar a {
    color: #FFC655;
}
.navbar-icon {
    margin-right: 3px;
}
#nav-dropdown {
    margin-right: 100px;
}
.navbar-logo {
    margin-left: 100px;
}