#logo-img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}
#navbar {
    background-color: #254380;
}
#logo{
    color: #FFC655;
}
.navbar-icon {
    margin-right: 3px;
}
#navbar a {
   color: #FFC655;
}
#dropdown-item-profile, #dropdown-item-job, #dropdown-item-balance, #dropdown-item-chat {
    color: black;
}
#dropdown-item-switch {
    color: forestgreen !important;
}
#dropdown-item-signout {
    color: red;
}
.color-black {
    color: black !important;
}
.background-yellow {
    background-color: #FFC655;
}
.noti:hover {
    background-color: #254380;
    color: white !important;
}
.new-noti {
    color: rgb(255, 70, 70) !important;
}