#logo-img {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}
#navbar {
  background-color: #254380;
}
#logo {
  color: #ffc655;
}
.navbar-icon {
  margin-right: 3px;
}
#navbar a {
  color: #ffc655;
}
#dropdown-item-profile,
#dropdown-item-job,
#dropdown-item-balance {
  color: black;
}
#dropdown-item-switch {
  color: forestgreen !important;
}
#dropdown-item-signout {
  color: red;
}
.color-black {
  color: black !important;
}
.background-yellow {
  background-color: #ffc655;
}


.noti-detail {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    width: 100%;
}

.noti:hover {
  background-color: #254380;
  color: white !important;
}
.new-noti {
  color: rgb(255, 70, 70) !important;
}
#noti-box {
  height: 400px;
  width: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.noti-delete:hover {
  cursor: pointer;
  color: red !important;
}
.noti-delete {
  position: absolute;
  right: 10px;
}