.navbar-area {
    height: 55px;
    background-color: #254380;
}
.navbar-container {
    width: 100%;
    height: 300px;
}
.navbar-logo {
    height: 80px;
}
.navbar-logo-img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}
.navbar-logo-txt {
    color: #FFC655;
    font-family: "Roboto";   
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
}
.big-txt {
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    height: 30px;
}
.small-txt {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.navbar-txt {
    color: #FFC655;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 2;
}
.navbar-icon {
    padding-left: 3px;
    padding-right: 3px;
}
.navbar-icon-profile {
    width: 25px;
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left; 
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    text-decoration: none;
    color: #FFC655;
    background-color: #1a3261;
}
a:hover li{
    text-decoration: none;
    color: #FFC655;
    background-color: #1a3261;
}
.left {
    float: left;
}
.right {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #254380;
    min-width: 135px;
    z-index: 2;
    
  }
  
.dropdown-content a {
    color: #FFC655;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
.dropdown-content a:hover {
    background-color: #1a3261;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }